body {
    font-family: sans-serif;
    background-image: url(img.jpg);
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
}

.container {
    width: 350px;
    margin: 6.5% auto;
    border-radius: 44px;
    background-color: lightblue;
    box-shadow: 0 0 10px #333;
}

.header {
    text-align: center;
    padding-top: 70px;
}

.header h1 {
    color: rgb(120, 49, 251);
    font-size: 35px;
    margin-bottom: 50px;
}

.main {
    text-align: center;
}

.main input,
button {
    width: 300px;
    height: 40px;
    border: none;
    outline: none;
    padding-left: 50px;
    box-sizing: border-box;
    font-size: 15px;
    color: rgb(0, 0, 4);
    margin-bottom: 40px;
}

.main button {
    padding-left: 0;
    background-color: rgb(121, 78, 212);
    letter-spacing: 1px;
    font-weight: bold;
    margin-bottom: 70px;
}

.main button:hover {
    box-shadow: 2px 2px 5px #555;
    background-color: #7744;
}

.main input:hover {
    box-shadow: 2px 2px 5px #555;
    background-color: rgb(55, 180, 171);
}

.main span {
    position: relative;
}

.main i {
    position: absolute;
    left: 15px;
    color: rgb(60, 9, 244);
    font-size: 10px;
    top: 2px;

}
